*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}
/* 導覽列 */
nav {
    display: grid;
    grid-template-columns: 20% 70% 10%;
background: rgb(2, 37, 6);
box-shadow: 0 2px 15px rgba(32, 43, 32, 0.3) ;
padding: 20px;
align-items: center;
/* 固定位置 */
position: fixed;
top: 0;
width: 100%;
z-index: 3;
opacity: 0.9;

}

#logo img{
    width: 90px ;
    margin: auto 100px;
}

/* 動態前的樣式 */
#link a{
    padding: 0 60px;
    /* td 文字裝飾 */
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* 動態轉換時間 */
    transition: 0.2s;
    border: 0;
    font-size: 25px;
}

#social a{
    margin: auto 10px ;
}

/* 動態後樣式 */
#link a:hover {
    color: rgb(190, 201, 184);
    border: 5px rgb(190, 201, 184);
    font-family: bold;
    font-size: 28px;
}

/* 新品 */
/* 輪播圖 */
#banner div {
    /* 高度 vh螢幕高度 */
    height: 100vh;
}

.banner1 {
    background-image: url(./img/b-coffee.jpg);
    background-size: cover;

}
.banner2 {
    background-image: url(./img/b-tea.jpg);
    background-size: cover;
}
.banner3 {
    background-image: url(./img/b-cake.jpg);
    background-size: cover;
}

#banner {
    text-align: center;
    color: rgb(255, 255, 255);
}

#banner h1 {
    padding: 30px;
    margin-top: 200px;
    font-size: 120px;
    text-shadow:0 5px 5px rgb(190, 201, 184) ;
    text-align: center;
}

#banner p {
    padding: 30px;
    font-size: 32px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

#banner hr {
    width: 80%;
    margin: 0 auto;
    height: 5px;
    background: #fff;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* banner的箭頭 */
/* 左 */
#banner .slick-prev {
    /* 位置 */
    left: 50px;
    /* 圖層 數字越大越前面 */
    z-index: 2;
    /* 尺寸 倍數 */
    transform: scale(1.5);
}
/* 右 */
#banner .slick-next {
    right: 50px;
    z-index: 2;
    transform: scale(1.5);
}
/* 下方點點 */
#banner .slick-dots {
    bottom: 25px;
    transform: scale(2);
}


/* 商品種類 */
#products {
    width: 1280px;
    margin: 0 auto;
}

/* 元素 1 > 元素 2 */
/* 元素 1 裡面 第一層 的 元素 2 */
/* 將圖面分成左右兩側 */
#products > div {
    display: grid;
    grid-template-columns:  40% 60%;
    margin-top: 20px;
}

#products .pic img {
    width: 100%;
    height: 350px;
    /* 圖片比例 */
    object-fit: cover; 
}

#products .text {
    margin: 30px 50px;   
    padding: 150px 20 0 0;
}

#products .text h1 {
    padding: 30px 0;
}

#products .text p {
    width: 300px;
    line-height: 2;
    margin-bottom: 40px;
}
/*  格線樣板區域：利用格線區域名稱設定順序 */ 
/* 選出要更改的區域 */
#products > div:nth-child(2){
    background-color: rgb(211, 208, 168);
}


/* 把單區域劃分成文字區和圖片區 */
#products > div:nth-child(2) .text{
    grid-area: text;
}
#products > div:nth-child(2) .pic{
    grid-area: pic;
}

/* 將兩區順序調換 */
#products > div:nth-child(2){
    grid-template-areas:"pic text";
    grid-template-columns:60% 40%;
}

/* 按鈕樣式 */
.button {

    margin: 20px 0;
    padding: 12px 20px;
    /* 框粗細度 */
    /* solid 外框線 */
    border: 2.5px solid #053f27;
    /* 文字裝飾 把底線關閉*/
    text-decoration: none;
    font-size: 20px;
    /* 文字粗細 */
    font-weight: 550;
    /* 文字間距 */
    letter-spacing: 10px;
    color: rgb(24, 59, 4);
    transition: 0.5s;
}

.button:hover {
    background-color: rgb(24, 59, 4);
    color: #a5b98e;
    font-weight: 800;
}

.hr1 {
    margin: 40px auto;
    width: 1400px;
}

/* 門市資訊 */
#info {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px ;
    width: 1280px;
    margin: 50px auto 0;
}
#info .pic img {
    width: 100%;
    height: 250px;
    object-fit: cover;  
}

#info .text h1{
    padding: 35px 0;
    margin: 40px 0;
}

#info .text p{
    padding: 10px 0 25px;
    line-height: 2;
    margin: 20px 0;
}

#info .button {
    margin: 80px 0 0 100px;
}

/* 其他服務 */
#service {
    width: 1280px;
    line-height: 2;
    margin-top: 150px;
    margin: 0 auto;
}

/* focus 聚焦：選取此元素時 */
#service div:focus {
    /* 選取邊框：無 */
    outline: none;
}


#service img {
    width: 350px;
    height: 350px;
      /* border-radius: 50%; 寬高要相同 */
    border-radius: 50%;
    object-fit: cover;
    border-radius: 350px;
    /* 顯示模式：區塊 */
    /* 區塊元素 block */
    display: block;
    margin: 0 auto;
    transition: 0.5s;
}

#service img:hover {
    border-radius: 30px;

}

#service h2 {
    text-align: center;
    margin-top: 15px;
    color: #aaa;
    font-weight: 100;
    font-size: 20px;
}


/* footer */
footer {
    background: #023f21;
    margin-top: 100px;
    padding: 30px;
    text-align: center;
}


#foot-logo img{
    width: 300px;
}

#footer-social a {
    padding: 0 20px;
}

#starbucks {
    padding: 30px 0 20px;
}

#starbucks img {
    transition: 0.5s;
}

#starbucks img:hover {
    transform: scale(1.2);
}

#footer-link {
    padding: 20px 0;
}

#footer-link a {
    color: #e1ffd0;
    text-decoration: none;
    padding: 0 20px;
    transition: 0.5s;
}

#footer-link a:hover {
    color: #999;
}

#contact {
    color: #999;
    font-size: 10px;
    padding: 10px 0;
}

#copy {
    color: #999;
    font-size: 8px;
}
